.sideBarDiv ul {
    list-style: none;
    margin: 0;
    padding: 0 ;
  }

  .sideBarDiv {
    border-right: solid;
    height: 100vh;
  }

  .sideBarDiv ul a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: larger;
    color: black;
  } 


  .sideBarDiv ul li{
    padding: 5px 50px;
    cursor: pointer;
    border-bottom: solid;
  } 


  .sideBarDiv ul li:hover{
    background-color: #D2B48C;
  } 

  .dashBoardDiv
  {
    display: flex;
  }

  .CRUDVillagesDiv
  {
    padding: 20px;
    position: relative;
  }

  .CRUDVillages_main
  {
    position: absolute;
    top: 40px;
  }
  
  .CRUDVillages_main div.loader{
    margin-left: 200px;
    margin-top: 100px;
  }

  .CRUDVillages_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 600px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
  

  .CRUDVillages_table thead tr {
    background-color: #D2B48C;
    color: #ffffff;
    text-align: left;
    border: 2px solid #D2B48C;
  }
  
  .CRUDVillages_table th,
  .CRUDVillages_table td {
    padding: 12px 15px;
  }

  .CRUDVillages_table td svg:hover {
    cursor: pointer;
  }
  
  .CRUDVillages_table tbody tr {
    border-bottom: 1px solid #dddddd;
    border-left: 2px solid #D2B48C;
    border-right: 2px solid #D2B48C;
  }
  
  .CRUDVillages_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .CRUDVillages_table tbody tr:last-of-type {
    border-bottom: 2px solid #D2B48C;
  }
  
  .CRUDVillages_table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
 
.PopUpContainer
{
  position: absolute;
  z-index: 10;
  top:50px;
  padding-top: 20px;
  left: 50px;
  width: 500px;
  height: 150px;
  background-color: #D2B48C;
  border-radius: 15px;
  
}

.CRUDVillages_nav
{
  position: absolute;
  top: 0;
  
}

.CREATEVillagePopUp
{
  padding: 10px;
}
.CREATEVillagePopUp div.formDiv
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  font-size: larger;
}

.CREATEVillagePopUp div.buttonDiv
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}


.UPDATEVillagePopUp
{
  padding: 10px;
}
.UPDATEVillagePopUp div.formDiv
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  font-size: larger;
}

.UPDATEVillagePopUp div.buttonDiv
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}